/* Appliquer un style à l'AnchorPane principal */
.anchor-pane {
    background-color: #f2f2f2;
}

/* Appliquer un style aux labels */
.label {
    -fx-font-size: 14px;
}

/* Appliquer un style aux text fields */
.text-field {
    -fx-pref-height: 35px;
    -fx-pref-width: 250px;
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.text-field:focus{
    -fx-border-color: #0066cc;
    -fx-background-color: #f2f2f2;
}

.text-field:hover {
    -fx-border-color: #999999;
}

/* Appliquer un style aux text areas */
.text-area {
    -fx-pref-height: 112px;
    -fx-pref-width: 164px;
    -fx-font-size: 14px;
}

/* Appliquer un style au choice box */
.choice-box {
    -fx-pref-height: 35px;
    -fx-pref-width: 250px;
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.choice-box:focus {
    -fx-border-color: #0066cc;
    -fx-background-color: #f2f2f2;
}

.choice-box:hover {
    -fx-border-color: #999999;
}

/* Appliquer un style aux boutons */
.button {
    -fx-pref-height: 35px;
    -fx-pref-width: 100px;
    -fx-font-size: 14px;
    -fx-background-color: #ff8080; /* Rouge clair */
    -fx-text-fill: #ffffff;
    -fx-border-color: #ff8080; /* Rouge clair */
    -fx-border-radius: 5px;
}

.button:hover,
.button:pressed {
    -fx-background-color: #6699ff; /* Bleu clair */
    -fx-border-color: #6699ff; /* Bleu clair */
}

/* Appliquer un style au bouton Ajouter
#add {
    -fx-background-color: #4caf50;
    -fx-text-fill: #ffffff;
}

#add1 {
    -fx-background-color: #f44336;
    -fx-text-fill: #ffffff;
}*/

/* Appliquer un style au champ de statut */
#statut {
    -fx-background-color: #ffffff;
    -fx-border-color: #999999;
    -fx-pref-width: 150px;
    -fx-pref-height: 25px;
    -fx-font-size: 14px;
}

/* Appliquer un style au choix de don */
#don {
    -fx-pref-width: 150px;
    -fx-font-size: 14px;
}
.vbox-container {
    -fx-alignment: center;
    -fx-border-color: #002395; /* Bleu France */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}
.vbox-container > * {
    -fx-spacing: 10px;
}
