{# templates/don/no_don.html.twig #}

{% block title %}Aucun Don{% endblock %}

{% block body %}
<div class="alert alert-info" role="alert">
    Aucun don n'existe pour cette campagne.
</div>
{% endblock %}
