{% extends 'back.html.twig' %}

{% block title %}Edit Don{% endblock %}

{% block body %}
   <div style="text-align: center;">
    <h1>Modifier Don</h1>
</div>


    {{ include('don/back_office/_form_back.html.twig', {'button_label': 'Update'}) }}

   <a href="{{ path('app_don_index_back') }}" style="text-decoration: none; color: #42A9E6; font-weight: bold;">Retour</a>


    {{ include('don/back_office/_delete_form_back.html.twig') }}
{% endblock %}